![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.4

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [3]:
# Soma
4 + 4

8

In [5]:
# Subtração
4 - 3

1

In [7]:
# Multiplicação
3 * 3

9

In [9]:
# Divisão
3 / 2

1.5

In [11]:
# Potência
4 ** 2

16

In [13]:
# Módulo
10 % 3

1

### Função Type

In [15]:
type(5)

int

In [17]:
type(5.0)

float

In [19]:
a = 'Estou estudando na Fatec Votorantim'
type(a)

str

### Operações com Números Float

In [21]:
3.1 + 6.4

9.5

In [23]:
4 + 4.0

8.0

In [25]:
4 + 4

8

In [27]:
# Resultado é um número float
4 / 2

2.0

In [35]:
# Resultado é um número inteiro
4 // 2

2

In [37]:
4 / 3.0

1.3333333333333333

In [39]:
4 // 3.0

1.0

### Conversão

In [41]:
float(9)

9.0

In [43]:
int(6.0)

6

In [45]:
int(6.5)

6

In [47]:
int(6.6)

6

In [49]:
round(6.5)

6

In [51]:
round(6.6)

7

### Hexadecimal e Binário

In [53]:
#começa sempre com 0x
hex(394)

'0x18a'

In [55]:
hex(217)

'0xd9'

In [57]:
#Começa sempre com 0b
bin(286)

'0b100011110'

In [59]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [61]:
# Retorna o valor absoluto - Valor sem sinal
abs(-8)

8

In [63]:
# Retorna o valor absoluto
abs(8)

8

In [65]:
# Retorna o valor com duas casas decimais - se eu passar um valor em seguida, ele adota esse número como qtde de numeros após a vírgula
round(3.14151922, 2)

3.14

In [67]:
# Potência
pow(4,2)

16

In [69]:
# Potência
pow(5,3)

125

### Trabalhando com Variáveis

In [71]:
# Atribuindo o valor 1 à variável var_teste - é usado um igual para definir um valor de uma variável
var_teste = 1

In [73]:
# Imprimindo o valor da variável
var_teste

1

In [75]:
# Imprimindo o valor da variável
print(var_teste)

1

In [77]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [79]:
var_teste = 2

In [81]:
var_teste

2

In [83]:
type(var_teste)

int

In [85]:
var_teste = 9.5

In [87]:
type(var_teste)

float

In [89]:
x = 1

In [91]:
x

1

### Declaração Múltipla

In [93]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [95]:
pessoa1

'Bob'

In [97]:
pessoa2

'Maria'

In [99]:
pessoa3

'Ana'

In [101]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [103]:
fruta1

'Melancia'

In [105]:
fruta2

'Melancia'

In [107]:
fruta3

'Melancia'

In [109]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [111]:
x1 = 50

In [113]:
x1

50

In [115]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [121]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [123]:
largura = 2

In [125]:
altura = 4

In [127]:
area = largura * altura

In [129]:
area

8

In [131]:
perimetro = 2 * largura + 2 * altura

In [133]:
perimetro

12

In [135]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [137]:
perimetro

32

### Operações com Variáveis

In [139]:
idade1 = 25

In [141]:
idade2 = 35

In [143]:
idade1 + idade2

60

In [145]:
idade2 - idade1

10

In [147]:
idade2 * idade1

875

In [149]:
idade2 / idade1

1.4

In [151]:
idade2 % idade1

10

### Concatenação de Variáveis

In [153]:
nome = "Bob"

In [155]:
sobrenome = "Marley"

In [157]:
fullName = nome + " " + sobrenome

In [159]:
fullName

'Bob Marley'

In [241]:
nome * 5

'BobBobBobBobBob'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [164]:
# Uma única palavra
'Oi'

'Oi'

In [166]:
# Uma frase
'Criando uma string em Python'

'Criando uma string em Python'

In [168]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

'Podemos usar aspas duplas ou simples para strings em Python'

In [170]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

In [173]:
#mostra o texto sem as aspas como no anterior
print("Testando string em 'Python'")

Testando string em 'Python'

### Imprimindo uma String

In [175]:
print ('Testando Strings em Python')

Testando Strings em Python

In [177]:
print ('Testando \n Strings \n em \n Python')

Testando
 Strings
 em
 Python

In [179]:
print ('\n')

### Indexando Strings

In [189]:
# Atribuindo uma string
s = 'Projeto pyPRO'

In [203]:
#a função chamada 'slice' para fatiar a string, sendo que [ inicio : fim : passp ] onde o início entra mas o fim não pois é a borda limite.
s[0:3:]

'Pro'

In [191]:
print(s)

Projeto pyPRO

> Indexação em Python começar por zero.

In [193]:
# Primeiro elemento da string
s[0]

'P'

In [195]:
s[1]

'r'

In [197]:
s[2]

'o'

In [199]:
s[3]

'j'

In [201]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [205]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'rojeto pyPRO'

In [207]:
# A string original permanece inalterada
s

'Projeto pyPRO'

In [209]:
# Retorna tudo até a posição de índice 3
s[:3]

'Pro'

In [211]:
# Retorna tudo até a posição de índice 4
s[:4]

'Proj'

In [213]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

'O'

In [215]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projeto pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [217]:
s[::1]

'Projeto pyPRO'

In [219]:
s[::2]

'PoeopPO'

In [221]:
s[::-1]

'ORPyp otejorP'

### Propriedades de Strings

In [223]:
s

'Projeto pyPRO'

In [225]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [227]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Projeto pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [229]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [231]:
print(s)

Projeto pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [233]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [239]:
letra * 3

'www'

In [247]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
print(nome," tem ", idade, " anos!")

Digite seu nome:  Paulo
Digite sua idade:  29

Paulo  tem  29  anos!

In [249]:
x = int(input("Digite o valor de x: "))
y = int(input("Digite o valor de y: "))
print("Resultado da Soma: ",x+y)

Digite o valor de x:  5
Digite o valor de y:  6

Resultado da Soma:  56

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [ ]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

In [ ]:
base = float(input("Insira o comprimento da base: "))

In [ ]:
altura = float(input("Insira a altura: "))

In [ ]:
area = base * altura

In [ ]:
print("A área do paralelogramo é: ", area)

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [ ]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5.

In [253]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

Entre com a temperatura em C: 26

A temperatura em F =  78.8

In [ ]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

![Figura](exemplo03.JPG)

In [ ]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [251]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
print(f"Olá, {nome}. Seja bem-vindo! Hoje você está com {idade} anos!")

Digite seu nome:  Paulo
Digite sua idade:  29

Olá, Paulo. Seja bem-vindo! Hoje você está com 29 anos!

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
print(f"Olá, {nome}. Seja bem-vindo! Hoje você está com {idade} anos!")

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [279]:
nasc = int(input("Digite o ano de seu nascimento: "))
ano = 2024
idade = ano - nasc
dif_mes = idade * 12
dif_semanas = idade * 52
dif_dias = idade * 365
print(f"Você tem: {dif_ano} anos, {dif_mes} meses, {dif_semanas} semanas e {dif_dias} dias!")

Digite o ano de seu nascimento:  1993

Você tem: 31 anos, 372 meses, 1612 semanas e 11315 dias!

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [281]:
salario = float(input("Digite seu salário: "))
reajuste = salario*1.25
print(f"Seu novo salário é de: R$ {reajuste:8.2f}.")
#o .2 limita a quantidade de casa depois da vírgula enquanto o 8 define a quantidade total do número (contanto com o ponto).
#isso é útil para quando queremos os valores alinhados

Digite seu salário:  1256.58

Seu novo salário é de: R$ 1570.72.

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

In [269]:
raio = float(input("Digite o raio do círculo: "))
areacirc = 3.14*(raio**2)
print(f"Área do círculo é: {areacirc}")

Digite o raio do círculo:  10

Área do círculo é: 314.0

In [285]:
from math import pi, pow
raio = float(input("Digite o raio do círculo: "))
areacirc = pi * pow(raio,2)
print(f"Área do círculo é: {areacirc}")

Digite o raio do círculo:  10

Área do círculo é: 314.1592653589793

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [275]:
degrau = float(input("Digite a altura do degrau em cm: "))
altura = float(input("Digite a altura que deseja chegar em metros: "))
qtde_degraus = (altura*100)/(degrau)
print(f"Voce deverá percorrer {qtde_degraus} para atingir seu objetivo.")

Digite a altura do degrau em cm:  10
Digite a altura que deseja chegar em metros:  100

Voce deverá percorrer 1000.0 para atingir seu objetivo.

## Fim da Aula 6